.slider{
    /* background-color: red; */
    display: flex;
    height: calc(100vh - 5rem); /* esses 4rem são a altura do header*/
}

.left{
    display: flex;
    gap: 1rem;
}

.slider__categorias > ul > li{
    display: flex;
    flex: 1;
    gap: 0.5rem;
}

.slider__categorias > ul > li > button{
    padding: 0.2rem;
    width: 100%;
    font-family: "Comic Neue", cursive;
}

.actionButtons{
    display: flex;
    flex-wrap: wrap;
}

.actionButtons > button{
    /* display: block; */
    padding: 0.5rem;
    width: 50%;
    font-family: "Comic Neue", cursive;
}

.inputSearch{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.inputSearch > input, button{
    padding: .5rem;
}

.slider__container{
    flex-direction: column;
    width: 50%;
}

.slider__img{
    display: block;
    /* width: 100%; */
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}