header{
    height: 4rem;
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
}

header a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 2rem;
}